<div>
    <h2 translate="iLoggerApp.dhcpClient.home.title">DhcpClients</h2>
    <jh-alert></jh-alert>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <button class="btn btn-primary" ui-sref="dhcpClient.new">
                    <span class="glyphicon glyphicon-flash"></span> <span translate="iLoggerApp.dhcpClient.home.createLabel">Create a new DhcpClient</span>
                </button>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deleteDhcpClientConfirmation">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="deleteForm" ng-submit="confirmDelete(dhcpClient.id)">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" translate="entity.delete.title">Confirm delete operation</h4>
                    </div>
                    <div class="modal-body">
                        <p translate="iLoggerApp.dhcpClient.delete.question" translate-values="{id: '{{dhcpClient.id}}'}">Are you sure you want to delete this DhcpClient?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="deleteForm.$invalid" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th translate="global.field.id">ID</th>
                    <th translate="iLoggerApp.dhcpClient.macAddress">MacAddress</th>
                    <th translate="iLoggerApp.dhcpClient.hostname">Hostname</th>
                    <th translate="iLoggerApp.dhcpClient.comment">Comment</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="dhcpClient in dhcpClients track by dhcpClient.id">
                    <td><a ui-sref="dhcpClient.detail({id:dhcpClient.id})">{{dhcpClient.id}}</a></td>
                    <td>{{dhcpClient.macAddress}}</td>
                    <td>{{dhcpClient.hostname}}</td>
                    <td>{{dhcpClient.comment}}</td>
                    <td>
                        <button type="submit"
                                ui-sref="dhcpClient.detail({id:dhcpClient.id})"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.view"> View</span>
                        </button>
                        <button type="submit"
                                ui-sref="dhcpClient.edit({id:dhcpClient.id})"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span translate="entity.action.edit"> Edit</span>
                        </button>
                        <button type="submit"
                                ng-click="delete(dhcpClient.id)"
                                class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete"> Delete</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
